.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.emptyMessage {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
    text-align: center;
}