.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.profileSection {
    width: 70%;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, max-height 0.4s ease, opacity 0.4s ease;
    overflow: hidden;
    max-height: 70px;
    opacity: 0.8;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.card.expanded {
    max-height: 300px;
    opacity: 1;
}

.card h2 {
    margin: 0;
}

.expandableContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    padding: 0 20px;
}

.expandableContent.visible {
    max-height: 300px;
    opacity: 1;
    padding: 20px 20px;
}